@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/*----------------Mobile View Initial CSS----*/
html {
  /* background-image: url("../images/backsplash.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(6, 7, 29);
  color: white;
  font-family: "Helvetica";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit";
}

@keyframes wave {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}

.title {
  text-align: center;
  margin: auto;
  padding: 0;
  font-size: 5vw;
  font-weight: bold;
  position: relative;
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  border: none;
  font-family: "Kanit";
  min-width: 50vw;
}

.title span {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  animation: wave 1s 2;
  animation-delay: calc(80ms * var(--i));
}

.header {
  display: grid;
  justify-content: space-between;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  align-items: center;
}

.header img {
  justify-self: center;
  padding: 5px;
}

.logo {
  height: 80px;
}

.link {
  color: #ffffff;
}

.highlight {
  color: #005aee;
}
/*----------------- Notices ------------*/
.notices {
  box-shadow: 2px 10px 10px #005bee88;
  background-color: rgba(228, 210, 150, 0.7);
  border-radius: 15px;
  padding: auto;
  margin: 0;
  padding: 1rem;
}

.warning {
  color: red;
  font-size: larger;
  font-weight: bolder;
}

.notices p {
  padding: 0;
  margin: 5px;
}

.notices h2 {
  text-align: center;
  border-bottom: 2px solid #005bee88;
  margin: 0;
  padding-bottom: 5px;
}
/*-------------------- Form -----------*/
.locationForm {
  margin: auto;
  padding: 1.75rem;
  max-width: 500px;
}

.formField {
  display: flex;
  flex-direction: column;
}

.address {
  width: 250px;
  margin: auto;
}

.address input {
  width: 100%;
  margin: 3px auto;
}

.address input:focus {
  border: none;
  transform: scale(1.03);
}

fieldset p {
  text-align: center;
}

form input {
  border: none;
  border-radius: 3px;
  margin: 0;
  padding: 1rem;
}

#submitLocation {
  margin: 5px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-logo {
  padding: 1.5rem;
}

.logoMin {
  height: 200px;
  width: auto;
}

.map {
  display: block;
}

.mapouter {
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 100%;
}

.gmap_canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer-logo {
  text-align: center;
}

nav {
  display: none;
  grid-column: 1/4;
  grid-row: 2;
}
#navBtn {
  width: 44px;
  height: 44px;
  font-size: 30px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  justify-self: center;
  align-self: center;
}
nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  list-style: none;
  width: 100%;
}
nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 13px 0;
  padding-left: 10px;
}
nav ul li a:hover {
  background-color: #005aee;
}
#resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
#resources a {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 20px 0;
}
#resources a img {
  width: 200px;
}
.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 50px 20px;
}
.about h1 {
  grid-row: 1;
}

.about div img {
  width: 90%;
  display: block;
  border: 1px solid transparent;
  border-radius: 100%;
  margin: auto;
}
.about div {
  border: 1px solid #005bee5d;
  padding: 30px 10px 10px;
}


/*--------------------- Image Banner ----*/
.imageBanner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

#bannerImage {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  margin: .5rem;
  border: 4px solid #ffffff;
  min-height: 32px;
  min-width: 57;

  max-height: 380px;
  max-width: 563px;
}

/*-------------------- Location cards ----- */

.userLocaleCont,
.fireCard {
  background-color: rgba(0, 90, 238, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
}

.userLocaleCont h2,
.userLocaleCont p,
.fireCard h2,
.fireCard p {
  padding: 0 0 0 0.5rem;
}
.fireballs-main img {
  width: 100%;
  max-width: 700px;
}

@media only screen and (min-width: 37.5rem) {
  .imageWarn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .notices {
    display: grid;
    
    align-items: center;
    margin: 4rem;
  }

  /* .map {
        display: flex;
    }  */

  .userLocaleCont {
    grid-column: 1;
  }

  .dataCard {
    grid-column: 1;
  }

  .header {
    height: 20vh;
  }
  #resources {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  #resources h1 {
    grid-column: 1/5;
    grid-row: 1;
  }
  #resources h3 {
    grid-column: 1/5;
    grid-row: 2;
  }
  #resources a {
    display: block;
    justify-self: center;
  }
  .about {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
  }
  .about div {
    grid-row: 2;
  }

  .footer {
    justify-content: space-around;
  }

  /*-------------------- Location cards ----- */

  .map {
    padding: 0;
    margin: 0;
  }

  .fireCard {
    background-color: rgba(0, 90, 238, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .userLocaleCont h2,
  .userLocaleCont p,
  .fireCard h2,
  .fireCard p {
    padding: 0 0 0 0.5rem;
  }

  .firecard {
    width: 100%;
  }
  .fireballs-main img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
  }
  .fireballs-main {
    margin: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    grid-template-columns: 0.2fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .mapouter {
    height: 500px;
  }
  .header img {
    grid-column: 1;
    grid-row: 1;
  }
  .title {
    grid-column: 2;
    margin: 0;
  }
  #navBtn {
    display: none;
  }
  nav {
    display: block;
    grid-column: 3;
    grid-row: 1;
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li a {
    padding-left: 0;
    text-align: center;
  }
  .fireballs-main img {
    float: right;
    margin: 20px;
  }
}

@media only screen and (min-width: 1300px) {
  .header {
    height: 22vh;
  }
}
