@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


/*----------------Mobile View Initial CSS----*/
html {
    background-image: url("/images/backsplash.png");
    color: white;
    font-family: 'Helvetica';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit';
}

@keyframes wave {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-10px)
    }
  }

.title {
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    -webkit-box-reflect: below -35px linear-gradient(transparent, rgba(0,0,0,.2));
    border: none;
    font-family: 'Kanit';
}

.title span {
    position: relative;
    display: inline-block;
    animation: wave 1s 2;
    animation-delay: calc(80ms * var(--i));
}

.header {
    display: grid;
    justify-content: space-between;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    align-items: center;
}
.header img{
    justify-self: center;
    padding: 5px;
}

.logo {
    height: 80px;
}

div {
    border: 2px solid rgb(43, 54, 100);
    padding: 1rem;
}

.highlight {
    color: #005aee;
}

.footer {
    display: flex;
    justify-content: center;
}

.logoMin {
    height: 200px;
    width: auto;
}

.map {
    display: block;
}

.mapouter {
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.footer-logo {
    text-align: center;
}

.warning {
    color: red;
}
nav{
    display: none;
    grid-column: 1/4;
    grid-row: 2;
}
#navBtn{
    width: 44px;
    height: 44px;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    justify-self: center;
    align-self: center;
}
nav ul{
    padding: 0;
    display: flex;
    flex-direction: column;
}
nav ul li{
    list-style: none;
    width: 100%;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding:13px 0;
    padding-left: 10px;
}
nav ul li a:hover{
    background-color: #005aee;
}
#resources{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
#resources a{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 20px 0;
}
#resources a img{
    width: 200px;
}
.about{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 50px 20px;
}
.about h1{
    grid-row: 1;
}

.about div img{
    width: 100%;
    border: 1px solid black;
    border-radius: 180px;
}
#bannerImage {
    width: 96%;
    height: 50em;
    margin: auto;
    object-fit: cover;
}

@media only screen and (min-width: 500px) {
    .map {
        display: flex;
    }

    .mapouter {
        height: 100%;
    }

    .map {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;

        padding: 0;
        margin: 0;
    }

    .userLocaleCont {
        grid-column: 1;
    }

    .dataCard {
        grid-column: 1;
    }

    .title {
        font-size: 30px;
    }
    #resources{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    #resources h1{
        grid-column: 1/4;
        grid-row: 1;
    }
    #resources h3{
        grid-column: 1/4;
        grid-row: 2;
    }
    #resources a{
        display: block;
        justify-self: center;
    }
    .about{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 50px;
    }
    .about div{
        grid-row: 2;
    }
}

@media only screen and (min-width: 1000px) {
    .title {
        font-size: 40px;
    }

    .header {
        grid-template-columns: .2fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .header img{
        grid-column: 1;
        grid-row: 1;
    }
    .title{
        grid-column: 2;
        margin: 0;
    }
    #navBtn{
        display: none;
    }
    nav{
        display: block;
        grid-column: 3;
        grid-row: 1;
    }
    nav ul{
        flex-direction: row;
    }
    nav ul li a{
        padding-left: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 1300px) {

    .title {
        font-size: 50px;
    }

    /* .header {
        height: 180px;
    } */

}