/*----------------Mobile View Initial CSS----*/
html {
    background-image: url("/images/backsplash.png");
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.logo {
    height: 80px;
}

div {
    border: 2px solid rgb(43, 54, 100);
    padding: 1rem;
}

.highlight {
    color: #005aee;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.logoMin {
    height: 200px;
    width: auto;
}

.map {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    
    padding: 0;
    margin: 0;
}
.dataCard {
    grid-column: 1;
}

.userLocaleCont {
    grid-column: 1;
}


.mapouter {
    padding: 0;
    margin: 0;
    text-align:center;
    align-items:center;
    height:500px;
    width: 100%;
}
